html {
  height: 80px;
  width: 80px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

body {
	margin: 0;
}

#retry-button {
  background-color: #FF5B4E;
  border: none;
  color: white;
  padding: 20px 0px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  font-size: 100%;
	cursor: pointer;
}

#retry-button:hover {
	background-color: #FF7066;
}
